<script src="js/homepage.js"></script>
<div id="wrapper">
  <!-- Banner
    ================================================== -->
  <div id="banner" style="background: url(images/banner-home-01.jpg)">
    <div class="container">
      <div class="sixteen columns">
        <div class="search-container">
          <!-- Form -->
          <h2>Find job</h2>
          <form method="GET" action="/search">
            <div>
              <label>Keyword </label>
              <select
                id="keyword"
                type="text"
                class="ico-01 seven columns"
                name="category"
              ></select>
            </div>
            <div>
              <label>City </label>
              <select
                id="city"
                type="text"
                class="ico-02 seven columns"
                name="place"
              ></select>
            </div>

            <button type="submit" value="Submit"><i class="fa fa-search"></i></button>
          </form>

          <!-- Announce -->
          <div class="announce">Find <strong>now</strong> your new job!</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content
    ================================================== -->
  <div id="categories">
    <!-- Categories Group -->
    <div class="categories-group">
      <div class="container">
        <div class="four columns"><h4>Recent searches </h4></div>
        <div class="four columns">
          <ul>
            <% recentSearches.forEach((search) => { %>

            
            <li><a href="/search?category=<%= search.keyword.replace(/[#]/g, '%23')%>&place=<%=search.city%>"><%= search.keyword%> in <%=search.city%></a></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Wrapper / End -->
  <script src="js/homepage.js"></script>
</div>
