<script src="js/homepage.js"></script>
<div id="wrapper">
  <!-- Banner
    ================================================== -->
  <div id="banner" style="background: url(images/banner-home-01.jpg)">
    <div class="container">
      <div class="sixteen columns">
        <div class="search-container">
          <!-- Form -->
          <h2>Find job</h2>
          <form>
            <div>
              <label>Keyword </label>
              <select
                id="keyword"
                type="text"
                class="ico-01 seven columns"
                placeholder="keyword"
                value="Keyword"
              ></select>
            </div>
            <div>
              <label>City </label>
              <select
                id="city"
                type="text"
                class="ico-02 seven columns"
                placeholder="city"
                value="City"
              ></select>
            </div>

            <button><i class="fa fa-search"></i></button>
          </form>

          <!-- Announce -->
          <div class="announce">Find <strong>now</strong> your new job!</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content
    ================================================== -->
  <div id="categories">
    <!-- Categories Group -->
    <div class="categories-group">
      <div class="container">
        <div class="four columns"><h4>Web, Software & IT</h4></div>
        <div class="four columns">
          <ul>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">WordPress</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Developer</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">Mobile</a></li>
          </ul>
        </div>
        <div class="four columns">
          <ul>
            <li><a href="#">MySQL</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Software</a></li>
            <li><a href="#">Website Design</a></li>
            <li><a href="#">Programming</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Java</a></li>
          </ul>
        </div>
        <div class="four columns">
          <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">eCommerce</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider-line"></div>
    <div class="margin-top-50"></div>

    <!-- Recent Works -->
    <div class="container">
      <!-- Recent Jobs -->
      <div class="eleven columns">
        <div class="padding-right">
          <h3 class="margin-bottom-25">Recent Jobs</h3>
          <ul class="job-list">
            <li>
              <a href="job">
                <div class="job-list-content">
                  <h4>Best lavoro</h4>
                  <div class="job-icons">
                    <span><i class="fa fa-briefcase"></i> Da Pasquale</span>
                    <span><i class="fa fa-map-marker"></i> Los Angeles</span>
                    <span><i class="fa fa-money"></i> $115 / hour</span>
                  </div>
                </div>
              </a>
              <div class="clearfix"></div>
            </li>
          </ul>

          <a href="browse-jobs.html" class="button centered"
            ><i class="fa fa-plus-circle"></i> Show More Jobs</a
          >
          <div class="margin-bottom-55"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wrapper / End -->
  <script src="js/homepage.js"></script>
</div>
